.container {
    padding-top: 20rem;
    .cards{
        border: 1.3rem solid rgb(87, 3, 3);
        border-radius: 4rem;
        padding: 1.6rem;
        background-color: rgb(240, 244, 221);
        div {
            div{
                
                div{
                    h5 {
                        font-weight: bolder;
                        font-size: 3.5rem;
                        color: brown;
                        padding: remx;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        text-shadow: 5px 5px remx rgb(199, 144, 125);
                    }
            
                    p {
                        width: -moz-fit-content;
                        font-size: 3rem;
                        align-items: center;
                        padding: .5rem;
                        font-family: 'Times New Roman', Times, serif;
                        color: rgb(145, 104, 8);
                        text-shadow: 2px 3px 15px rgb(85, 90, 90);
                    }
                }
            }
            
           
        }
    
    
        .card1 {
            padding: 1.6rem;
            box-shadow: 9px 5px 20px #2b1509;
            width: 45%;
            // max-width: 50%;
            // max-width: 100%;
            height: 110rem;
            perspective: 1000px;
            position: relative;
            margin-left: 3rem;
            background-color: rgb(245, 219, 239);
            margin-top: 5rem;

            div{
              img{
                width: 100%;
                height: 100%;
            }
            }

            
        }
        .card2 {
            padding: 1.6rem;
            box-shadow: 9px 5px 20px #290c09;
            width: 40%;
            // max-width: 100%;
            // height: fit-content;
            height: 110rem;
            perspective: 1000px;
            margin-left: 90rem;
            position: relative;
            top: -110rem;
            background-color: rgb(196, 244, 211);
            margin-top: 1rem;  
            
            div{
              img{
                width: 100%;
                height: 60rem;
              }
            }
        }
        .card3 {
            padding: 1.6rem;
            box-shadow: 9px 5px 20px #2b0808;
            width: 40%;
            // max-width: 100%;
            height: fit-content;
            perspective: 1000px;
            margin-left: 40rem;
            position: relative;
            top: -80rem;
            margin-bottom: -38rem;
            background-color: rgb(182, 202, 245);

            div{
              img{
                width: 100%;
                height: 60rem;
              }
            }
        }
    }
    


    



    //Code to flip the card*************
    // .card {
    //     box-shadow: 7px 5px 20px #2e2a2a;
    //     // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    //     transition: 0.3s;
    //     width: 30%;
    //     height: 50%;
    //     perspective: 1000px;
    //     background-color: transparent;
    // }

    // .flip-card-inner {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    //     text-align: center;
    //     transition: transform 0.8s;
    //     transform-style: preserve-3d;
    // }

    // .card:hover .flip-card-inner {
    //     transform: rotateY(180deg);
    // }

    // .flip-card-front .flip-card-back {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     -webkit-backface-visibility: hidden;
    //     /* Safari */
    //     backface-visibility: hidden;
    // }

    // .flip-card-front {
    //     background-color: #bbb;
    //     color: black;
    // }

    // .flip-card-back {
    //     color: white;
    //     transform: rotateY(180deg);
    // }


    html{
        /* 1.6rem = 16px;
        100% = 16px;
        62.5% = remx;//we need remx as out unit */
        font-size: 62.5%;
      }
      
    
    
    
    @media screen and (min-width:998px) {
        html{
          font-size: 65%;
        }
        
      }
    @media screen and (max-width:998px) {
        html{
          font-size: 55%;
        }
        
      }
      @media screen and (max-width:787px) {
        html{
          font-size: 45%;
        }
        
      }
      @media screen and (max-width:656px) {
        html{
          font-size: 40%;
        }
        
      }
      
    
}


